<!DOCTYPE html>
<html>

<head>
    <title>HomePage</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link type="text/css" rel='stylesheet' href='/css/bootstrap.min.css' />
    <link type="text/css" rel='stylesheet' href='/css/bootstrap-table.min.css' />
    <link type="text/css" rel='stylesheet' href='/css/info.css' />
	<link rel="icon" type="image/png" href="/img/favicon.ico" />
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-table-toolbar.js"></script>
</head>

<body class="profile-page">
    <%= title%>
    <div>
        <div class="page-header page-header-small" >

            <div class="container">
                <div class="content-center">
                    <div class="photo-container">
                        <img src="/img/researcher.jpg" alt="">
                    </div>
                    <h3 class="title">Ryan Scheinder</h3>
                    <p class="category">Photogapher</p>
                    <div class="content">
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>48</h2>
                            <p>Bookmarks</p>
                        </div>
                    </div>

                    <div class="secondcontent">
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>48</h2>
                            <p>Bookmarks</p>
                        </div>
                        <div class="social-description">
                            <h2>48</h2>
                            <p>Bookmarks</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>